.footer__block
	z-index: 0
	height: 224px+100px
	.footer__learn
		height: 224px
		background: #fff radial-gradient(circle at 50% 50% ,white 15%,$red 15.8%,white 15%,white 30%,$red 30.8%,white 30%,white 45%,$red 45.8%,white 45%,white 60%,$red 60.8%,white 60%)
	.footer__learn-in
		min-width: 943px
		width: percentage(943/1440)
		display: flex
		text-align: center
		height: 100%
		margin: auto
		align-items: center
		> *
			flex: 1
			justify-content: space-around
			margin: auto
		p
			+f(l,28)
		a
			+tr(opacity .5s)
			svg
				height: 70px
				width: 230px
				display: inline-block
			&:hover
				opacity: .7
	.footer__down
		height: 100px
		background-color: $footer
		.footer__down-in
			@extend %in
		.copyright
			float: left
			+line-height(100)
			+middle
			color: #fff
		.socials
			float: right
			+line-height(100)
			+vertical
			> *
				width: 40px
				height: 40px
				border-radius: 50%
				border: 3px solid #fff
				vertical-align: middle
				display: inline-block
				margin-right: 17px
				+tr(opacity .5s)
				&:hover
					opacity: .5
			svg
				display: block
				width: 2.2em
				height: 2.2em

