.intro
	z-index: 1
	height: 100vh
	background: $orange
	background-image: url("../img/bg1.png")
	background-position: 50% 50%
	background-size: 2000px 1123px
	width: 100%
	position: relative
	overflow: hidden
	min-height: 600px
.intro__in
	position: relative
	color: white
	height: 100%
	padding: 70px
	padding-bottom: 0
	display: block
	overflow: hidden
	font-size: 0px
	+r(768)
		padding: 0px
	@extend %in
	.hand
		width: 50%
		min-height: auto
		height: 100%
		display: inline-block
		vertical-align: middle
		img
			display: block
			margin: auto 0 auto !important
			height: 100%
			width: auto
		+r(768)
			display: none

	.content
		width: 50%
		margin-top: -70px
		display: inline-flex
		vertical-align: middle
		flex-direction: column
		+r(768)
			margin-top: 0px
			display: flex
			justify-content: center
			width: 100%
			height: 100%

	.diamond
		width: 100%
		img
			display: block
			width: 204px
			height: auto
			margin: 0 auto
			+r(320)
				width: 114px
		+r(768)
			padding-top: 0px
		+r(320)
			padding-top: 40px
	.sktch
		width: 100%
		+rmin(1500)
			margin-top: 20px
		img
			display: block
			margin: 0 auto
			width: 348px
			height: auto
			+r(320)
				width: 300px

	.expresion
		font-size: 18px
		width: 72%
		text-align: center
		margin: 0 auto
		margin-bottom: 30px
		+rmin(1500)
			margin-top: 20px
	.appstore-cover
		width: 100%
		text-align: center
		.svg-appstore
			width: 229.2px
			height: 65.8px
			+tr(all .5s)
			&:hover
				opacity: .7
.anchor-down
	position: absolute
	bottom: 40px
	left: 50%
	transform: translate(-50%, 0)
	cursor: pointer
	+r(480)
		bottom: 25px
	&:hover
		opacity: .5

	i
		display: block
		margin: 0 auto
		@include retina-sprite($s-arrow-group)

