<div class="course__block" name= "course">
  <div class="course__block-in" >
  		<div class="left">
	  		<div class="upperlogo"><i></i></div> 
			<div class="title"><h2>Выберите свой курс</h2></div> 
			<div class="icons__row">
				<div class="course__icon"><i></i><span>ОБЗОРНЫЙ </span><span>	КУРС</span></div>
				<div class="course__icon"><i></i><span>WEB</span></div>
				<div class="course__icon"><i></i><span>IOS</span></div>
			</div>
		</div>
		<div class="phone"><img src="img/iphone_2.png" srcset="img/iphone_2.png 1x, img/iphone_2@2x.png 2x"></div>
  </div>
</div>