<div class="footer__block" >
	<div class="footer__learn">
		<div class="footer__learn-in">
			<p>Начни изучение</p>
			<a href="#">{{ mixins.svgicon('appstore') }}</a>
			<p>прямо сейчас!</p>
		</div>
	</div>
	<div class="footer__down">
		<div class="footer__down-in">
			<div class="copyright">© 2015 ION Digital. All Rights Reserved.</div>
			<div class="socials">
				<a class="contacts__fb" href="https://www.facebook.com/ion.agency">
					{{ mixins.svgicon('facebook') }}
				</a>
				<a class="contacts__li" href="https://twitter.com/agencyion">
					{{ mixins.svgicon('twitter') }}
				</a>
			</div>
		</div>
	</div>
</div>