<!-- BEGIN intro -->
<div class="intro" name = "about">
  <div class="intro__in ">
    <div class="hand">
    <img src="img/iphone@1x.png" srcset="img/iphone@1x.png 800w, img/iphone@2x.png 1600w, img/iphone@3x.png 2400w" alt="yah">
    </div>
    <div class="content">
      <div class="diamond"><img src="img/icon@1x.png" srcset="img/icon@1x.png 204w, img/icon@2x.png 408w" alt="yah"></div>
      <div class="sktch"><img src="img/SktchTuts@1x.png" srcset="img/SktchTuts@1x.png 348w, img/SktchTuts@2x.png 696w" alt="yah"></div>
      <div class="expresion">Обучающая программа видеоуроков по графическому редактору SketchApp 3</div>
      <div class="appstore-cover"><a href="#">{{ mixins.svgicon('appstore') }}</a></div>
    </div>
  </div>
   <div class="anchor-down"><i></i></div>
</div>
<!-- END intro -->
