<div class="slider__block" >
  <div class="slider__block-in" >
      <div class="slider-box__container">
        <div class="slider-box__container-inner">
          <div class="slider">
            <div class="slider__track" >
              <div class="slider-item slider-item1"></div>
              <div class="slider-item slider-item2"></div>
              <div class="slider-item slider-item3"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-text">
        <h2 class="block__title">Создано дизайнерами<br/>для дизайнеров </h2>
        <h3 class="block__expresion">Обучающая программа видеоуроков по графическому редактору SketchApp 3 была разработана профессионалами в сфере проектирования интерфейсов. Зная как важно облачить информацию в приемлемый для дизайнеров вид, мы старались делать видеоуроки качественно, с полной самоотдачей.</h3>
      </div>

  </div>
</div>