<div  class=" slider__block" name = "hdiw">
  <div  class=" slider__block-in" >
      <div class="slider-box__container">
        <div  class="slider-box__container-inner">
          <div  class="slider">
            <div class="slider__track" >
              <div class="slider-item slider-item1"><img src="img/1.png" srcset="img/1.png 1x, img/1@2x.png 2x" alt="pic1"></div>
              <div class="slider-item slider-item2"><img src="img/2.png" srcset="img/2.png 1x, img/2@2x.png 2x" alt="pic2"></div>
              <div class="slider-item slider-item3"><img src="img/3.png" srcset="img/3.png 1x, img/3@2x.png 2x" alt="pic3"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="block-text">
        <h2 class="block__title">Создано дизайнерами<br/>для дизайнеров </h2>
        <h3 class="block__expresion">Обучающая программа видеоуроков по графическому редактору SketchApp 3 была разработана профессионалами в сфере проектирования интерфейсов. Зная как важно облачить информацию в приемлемый для дизайнеров вид, мы старались делать видеоуроки качественно: процесс создания состоял из множества этапов. Мы четко понимаем, что качественный контент – это сложная работа, требующая внимания к деталям.</h3>
      </div>

  </div>
</div>