<div class="subscribe__block" >
  <div class="subscribe__block-in" >
  	<div class="title">
  		<h2>Подпишись на рассылку и будь в курсе последних новостей</h2>
  	</div>
  	<div class="input__field">
  		 <form post= "/" role="form" id="formOrder" autocomplete="on">
  			<input type="email" maxlength="60" title="Enter your email" name="email" placeholder="Email" required>
  			<button type="submit" class="start__submit">{{mixins.svgicon('subscribe')}}</button>
  		</form>
  	</div>
  	<div class="below">
  		<p>Мы не будем присылать вам спам, только уведомления о появлении новых уроков или новости об акциях</p>
  	</div>
  </div>
</div>