<div class="video__block" name="sample">
  <div class="grad"></div>
  <div class="video__block-in" >
      
      <img src="img/video@1x.png" alt="yah">

      <div class="modal">
        <div class="modal__inner">
          <div class="modal__body">
            <button class="modal__close" type="button"><span class="hidden-text">Закрыть</span></button>
            <div class="modal__player" id="player" data-video-id="xEhaVhta7sI" frameborder="0" allowfullscreen="1" ></div>
          </div>
        </div>
      </div>

      <div id="play">{{mixins.btnLink('Вступительный урок', 'btn_orange', '#play' ,'play')}}</div>
  </div>
</div>