$s-sktch-tuts: (
  name: 's-SktchTuts',
  x: 0px,
  y: 29px,
  offset-x: 0px,
  offset-y: -29px,
  width: 348px,
  height: 94px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-arrow: (
  name: 's-arrow',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 32px,
  height: 19px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-diamond: (
  name: 's-diamond',
  x: 0px,
  y: 463px,
  offset-x: 0px,
  offset-y: -463px,
  width: 160px,
  height: 160px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-icon-2: (
  name: 's-icon 2',
  x: 0px,
  y: 633px,
  offset-x: 0px,
  offset-y: -633px,
  width: 204px,
  height: 204px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-icon-course1: (
  name: 's-icon_course1',
  x: 0px,
  y: 133px,
  offset-x: 0px,
  offset-y: -133px,
  width: 100px,
  height: 100px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-icon-course2: (
  name: 's-icon_course2',
  x: 0px,
  y: 243px,
  offset-x: 0px,
  offset-y: -243px,
  width: 100px,
  height: 100px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-icon-course3: (
  name: 's-icon_course3',
  x: 0px,
  y: 353px,
  offset-x: 0px,
  offset-y: -353px,
  width: 100px,
  height: 100px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-iphone-course: (
  name: 's-iphone_course',
  x: 0px,
  y: 847px,
  offset-x: 0px,
  offset-y: -847px,
  width: 480px,
  height: 538px,
  total-width: 480px,
  total-height: 1385px,
  image: '../img/sprite.png'
);
$s-sktch-tuts-2x: (
  name: 's-SktchTuts@2x',
  x: 0px,
  y: 58px,
  offset-x: 0px,
  offset-y: -58px,
  width: 696px,
  height: 188px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-arrow-2x: (
  name: 's-arrow@2x',
  x: 0px,
  y: 0px,
  offset-x: 0px,
  offset-y: 0px,
  width: 64px,
  height: 38px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-diamond-2x: (
  name: 's-diamond@2x',
  x: 0px,
  y: 926px,
  offset-x: 0px,
  offset-y: -926px,
  width: 320px,
  height: 320px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-icon-2-2x: (
  name: 's-icon 2@2x',
  x: 0px,
  y: 1266px,
  offset-x: 0px,
  offset-y: -1266px,
  width: 408px,
  height: 408px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-icon-course1-2x: (
  name: 's-icon_course1@2x',
  x: 0px,
  y: 266px,
  offset-x: 0px,
  offset-y: -266px,
  width: 200px,
  height: 200px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-icon-course2-2x: (
  name: 's-icon_course2@2x',
  x: 0px,
  y: 486px,
  offset-x: 0px,
  offset-y: -486px,
  width: 200px,
  height: 200px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-icon-course3-2x: (
  name: 's-icon_course3@2x',
  x: 0px,
  y: 706px,
  offset-x: 0px,
  offset-y: -706px,
  width: 200px,
  height: 200px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$s-iphone-course-2x: (
  name: 's-iphone_course@2x',
  x: 0px,
  y: 1694px,
  offset-x: 0px,
  offset-y: -1694px,
  width: 960px,
  height: 1076px,
  total-width: 960px,
  total-height: 2770px,
  image: '../img/sprite@2x.png'
);
$spritesheet: (
  width: 480px,
  height: 1385px,
  image: '../img/sprite.png',
  sprites: ($s-sktch-tuts, $s-arrow, $s-diamond, $s-icon-2, $s-icon-course1, $s-icon-course2, $s-icon-course3, $s-iphone-course, )
);
$retina-spritesheet: (
  width: 960px,
  height: 2770px,
  image: '../img/sprite@2x.png',
  sprites: ($s-sktch-tuts-2x, $s-arrow-2x, $s-diamond-2x, $s-icon-2-2x, $s-icon-course1-2x, $s-icon-course2-2x, $s-icon-course3-2x, $s-iphone-course-2x, )
);
$s-sktch-tuts-group: (
  name: 's-SktchTuts',
  normal: $s-sktch-tuts,
  retina: $s-sktch-tuts-2x
);
$s-arrow-group: (
  name: 's-arrow',
  normal: $s-arrow,
  retina: $s-arrow-2x
);
$s-diamond-group: (
  name: 's-diamond',
  normal: $s-diamond,
  retina: $s-diamond-2x
);
$s-icon-2-group: (
  name: 's-icon 2',
  normal: $s-icon-2,
  retina: $s-icon-2-2x
);
$s-icon-course1-group: (
  name: 's-icon_course1',
  normal: $s-icon-course1,
  retina: $s-icon-course1-2x
);
$s-icon-course2-group: (
  name: 's-icon_course2',
  normal: $s-icon-course2,
  retina: $s-icon-course2-2x
);
$s-icon-course3-group: (
  name: 's-icon_course3',
  normal: $s-icon-course3,
  retina: $s-icon-course3-2x
);
$s-iphone-course-group: (
  name: 's-iphone_course',
  normal: $s-iphone-course,
  retina: $s-iphone-course-2x
);
$retina-groups: ($s-sktch-tuts-group, $s-arrow-group, $s-diamond-group, $s-icon-2-group, $s-icon-course1-group, $s-icon-course2-group, $s-icon-course3-group, $s-iphone-course-group, );


@mixin sprite-width($sprite) {
  width: map-get($sprite, 'width');
}

@mixin sprite-height($sprite) {
  height: map-get($sprite, 'height');
}

@mixin sprite-position($sprite) {
  background-position: map-get($sprite, 'offset-x') map-get($sprite, 'offset-y');
}

@mixin sprite-image($sprite) {
  background-image: url(map-get($sprite, 'image'));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites {
  $sprites: map-get($spritesheet, 'sprites');
  @each $sprite in $sprites {
    $sprite-name: map-get($sprite, 'name');
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//  It should be used with a "retina group" variable.

// $icon-home-group: (
//   name: 'icon-home',
//   normal: $icon-home,
//   retina: $icon-home-2x
// );

// .icon-home {
//   @include retina-sprite($icon-home-group);
// }

@mixin sprite-background-size($sprite) {
  background-size: map-get($sprite, 'total-width') map-get($sprite, 'total-height');
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: map-get($retina-group, 'normal');
  $retina-sprite: map-get($retina-group, 'retina');
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

@mixin retina-sprites {
  @each $retina-group in $retina-groups {
    $sprite-name: map-get($retina-group, 'name');
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
