.svg-appstore {
  width: 3em;
  height: 1em;
  fill: none;
}
.svg-download {
  width: 1em;
  height: 1em;
  fill: none;
}
.svg-facebook {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.svg-icon {
  width: 1em;
  height: 1em;
  fill: none;
}
.svg-ionlogo {
  width: 1.6666666666666667em;
  height: 1em;
  fill: #FFF;
}
.svg-play {
  width: 1em;
  height: 1em;
  fill: none;
}
.svg-sktchTuts {
  width: 3.702127659574468em;
  height: 1em;
  fill: #FFF;
}
.svg-subscribe {
  width: 1em;
  height: 1em;
  fill: none;
}
.svg-twitter {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
